PORT = 8000
MONGODB_URI = 
CORS_ORIGIN = http://localhost:5173
# we can also use CORS_ORIGIN = * -> FOR all frontend but in industery this is not appropriate


ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=


REFRESH_TOKEN_EXPIRY=10d


CLOUDINARY_API_KEY = 
CLOUDINARY_API_KEY_PASSWORD =
CLOUDINARY_API_OWNER = 

# IN cmd run this command for setup configrations
# set CLOUDINARY_URL=cloudinary://661439383535249:cWZQ-N8Yq-U8WFDCar7dTW1vUjE@dxdk7nxrg