PORT = 8000
MONGODB_URI = mongodb+srv://DharmenderKumar:qwertyui42opLKJHGFDSAxcfr2@cluster0.qernojx.mongodb.net
CORS_ORIGIN = http://localhost:5173
# we can also use CORS_ORIGIN = * -> FOR all frontend but in industery this is not appropriate


ACCESS_TOKEN_SECRET=0987654EsdfghjmnBFE345678ikjbVCDERFGUIuytrdxcvbjUYTREDCVBju76rdxcVBJOIHG0-POIUHGVBNMKIUYTRRTYUIOPOIJHNKO09IUYGFCVBjkoplp-0oiugfdfghjkpoijhghjklp
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=34TGBNMLP-poiuytfdxcvbnjKO09876TRvbnjkop09876rtyhjMNBVCDERt89098765432qWDVBNJUYTREDCVBNKIUY-olkmngfdE3456789okNBVFDEedfghjI876trdcVBNKIUYTRDxcvbjiutrDX


REFRESH_TOKEN_EXPIRY=10d