PORT = 8000
MONGODB_URI = mongodb+srv://DharmenderKumar:qwertyui42opLKJHGFDSAxcfr2@cluster0.qernojx.mongodb.net
CORS_ORIGIN = http://localhost:5173
# we can also use CORS_ORIGIN = * -> FOR all frontend but in industery this is not appropriate