.style-0 {
    cursor: auto;
    min-height: 911px;
    scroll-behavior: smooth;
    text-rendering: optimizespeed;
    line-height: 24px;
    font-family: Archivo, sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-style: normal;
    transition: opacity 0.2s ease-in;
}

.style-1 {
    box-sizing: border-box;
}

.style-2 {
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0px;
    z-index: 1;
    
    width: 100%;
    padding: 0px 16px;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.style-3 {
    box-sizing: border-box;
    padding: 20px 0px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.style-4 {
    font-size: 30px;
    box-sizing: border-box;
    font-family: 'DM Serif Display', serif;
}

.style-5 {
    color: rgb(51, 51, 51);
    font-weight: 600;
    transition: color 0.2s;
    text-decoration-skip-ink: auto;
    box-sizing: border-box;
    text-decoration: none;
}

.style-6 {
    position: relative;
    box-sizing: border-box;
    display: none;
}

.style-7 {
    z-index: 10;
    cursor: pointer;
    border-width: 0px;
    border-style: none;
    border-color: rgb(0, 0, 0);
    border-image: none;
    margin: 0px;
    padding: 0px;
    width: 30px;
    height: 30px;
    border: 0px none rgb(0, 0, 0);
    border-radius: 0px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    box-sizing: border-box;
    font-family: Archivo, sans-serif;
}

.style-8 {
    max-width: 100%;
    display: block;
    box-sizing: border-box;
}

.style-9 {
    list-style: outside none none;
    position: fixed;
    top: 0px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    right: -2px;
    bottom: 0px;
    height: 100%;
    width: 0px;
    overflow: hidden;
    max-width: 300px;
    z-index: -1;
    border-left: 2px solid rgb(0, 0, 0);
    margin: 0px;
    transition: width 0.3s ease-in-out;
    padding: 0px;
    list-style-position: outside;
    list-style-image: none;
    box-sizing: border-box;
}

.style-10 {
    box-sizing: border-box;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.style-11 {
    color: rgb(51, 51, 51);
    font-weight: 600;
    transition: color 0.2s;
    text-decoration-skip-ink: auto;
    box-sizing: border-box;
    margin-bottom: 15px;
    text-decoration: none;
}

.style-12 {
    color: rgb(51, 51, 51);
    font-weight: 600;
    transition: color 0.2s;
    text-decoration-skip-ink: auto;
    box-sizing: border-box;
    margin-bottom: 15px;
    text-decoration: none;
}

.style-13 {
    color: rgb(51, 51, 51);
    font-weight: 600;
    transition: color 0.2s;
    text-decoration-skip-ink: auto;
    box-sizing: border-box;
    margin-right: 0px;
    margin-bottom: 15px;
    text-decoration: none;
}

.style-14 {
    display: block;
    box-sizing: border-box;
    font-size: 18px;
}

.style-15 {
    color: rgb(51, 51, 51);
    font-weight: 600;
    transition: color 0.2s;
    text-decoration-skip-ink: auto;
    box-sizing: border-box;
    margin: 0px 15px;
    text-decoration: none;
}

.style-16 {
    color: rgb(51, 51, 51);
    font-weight: 600;
    transition: color 0.2s;
    text-decoration-skip-ink: auto;
    box-sizing: border-box;
    margin: 0px 15px;
    text-decoration: none;
}

.style-17 {
    color: rgb(51, 51, 51);
    font-weight: 600;
    transition: color 0.2s;
    text-decoration-skip-ink: auto;
    box-sizing: border-box;
    margin-right: 0px;
    margin: 0px 0px 0px 15px;
    text-decoration: none;
}

.style-18 {
    padding: 0px;
    width: 100%;
    box-sizing: border-box;
}

.style-19 {
    width: 100%;
    box-sizing: border-box;
}

.style-20 {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999;
    box-sizing: border-box;
}

.style-21 {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.style-22 {
    padding: 100px 15px;
    color: black;
    background: rgb(250, 235, 215) none repeat scroll 0% 0% / auto padding-box border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
}

.style-23 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
}

.style-24 {
    max-width: 600px;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
}

.style-25 {
    font-size: 55px;
    display: inline;
    margin: auto;
    color: rgb(0, 0, 0);
    font-family: 'DM Serif Display', serif;
    font-weight: 700;
    text-rendering: optimizelegibility;
    line-height: 60.5px;
    box-sizing: border-box;
}

.style-26 {
    width: 100%;
    max-width: 500px;
    margin: 20px 0px;
    font-size: 23px;
    box-sizing: border-box;
}

.style-27 {
    box-sizing: border-box;
}

.style-28 {
    box-sizing: border-box;
}

.style-29 {
    width: 100%;
    max-width: 500px;
    margin: 20px 0px;
    font-size: 23px;
    box-sizing: border-box;
}

.style-30 {
    display: flex;
    box-sizing: border-box;
}

.style-31 {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    padding: 10px 15px;
    cursor: pointer;
    display: block;
    text-decoration: none;
    width: fit-content;
    color: rgb(51, 51, 51);
    font-weight: 600;
    transition: color 0.2s;
    box-sizing: border-box;
}

.style-32 {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0px;
    padding: 10px 15px;
    cursor: pointer;
    display: block;
    text-decoration: none;
    width: fit-content;
    margin-left: 15px;
    color: rgb(51, 51, 51);
    font-weight: 600;
    transition: color 0.2s;
    box-sizing: border-box;
}

.style-33 {
    display: block;
    box-sizing: border-box;
}

.style-34 {
    max-width: 100%;
    display: block;
    box-sizing: border-box;
}

.style-35 {
    padding: 50px 0px;
    width: 100%;
    border-top: 2px solid rgb(0, 0, 0);
    background-color: white;
    color: black;
    scroll-margin-top: 60px;
    box-sizing: border-box;
}

.style-36 {
    font-size: 36px;
    text-align: center;
    margin: auto auto 48px;
    max-width: 650px;
    color: rgb(0, 0, 0);
    font-family: 'DM Serif Display', serif;
    font-weight: 700;
    text-rendering: optimizelegibility;
    line-height: 39.6px;
    box-sizing: border-box;
}

.style-37 {
    font-size: 26px;
    text-align: center;
    margin: auto;
    max-width: 450px;
    box-sizing: border-box;
}

.style-38 {
    margin: 75px auto 50px;
    max-width: 1000px;
    box-sizing: border-box;
}

.style-39 {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
}

.style-40 {
    flex-direction: row;
    display: flex;
    align-items: center;
    padding: 15px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    max-width: 450px;
    border: 2px solid rgb(0, 0, 0);
    margin: 12px;
    box-sizing: border-box;
}

.style-41 {
    max-width: 100px;
    margin-right: 30px;
    height: auto;
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.style-42 {
    max-width: 300px;
    font-size: 18px;
    margin: 0px auto;
    text-align: center;
    box-sizing: border-box;
}

.style-43 {
    flex-direction: row;
    display: flex;
    align-items: center;
    padding: 15px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    max-width: 450px;
    border: 2px solid rgb(0, 0, 0);
    margin: 12px;
    box-sizing: border-box;
}

.style-44 {
    max-width: 100px;
    margin-right: 30px;
    height: auto;
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.style-45 {
    max-width: 300px;
    font-size: 18px;
    margin: 0px auto;
    text-align: center;
    box-sizing: border-box;
}

.style-46 {
    flex-direction: row;
    display: flex;
    align-items: center;
    padding: 15px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    max-width: 450px;
    border: 2px solid rgb(0, 0, 0);
    margin: 12px;
    box-sizing: border-box;
}

.style-47 {
    max-width: 100px;
    margin-right: 30px;
    height: auto;
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.style-48 {
    max-width: 300px;
    font-size: 18px;
    margin: 0px auto;
    text-align: center;
    box-sizing: border-box;
}

.style-49 {
    flex-direction: row;
    display: flex;
    align-items: center;
    padding: 15px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    max-width: 450px;
    border: 2px solid rgb(0, 0, 0);
    margin: 12px;
    box-sizing: border-box;
}

.style-50 {
    max-width: 100px;
    margin-right: 30px;
    height: auto;
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.style-51 {
    max-width: 300px;
    font-size: 18px;
    margin: 0px auto;
    text-align: center;
    box-sizing: border-box;
}

.style-52 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

.style-53 {
    max-width: 400px;
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-family: 'DM Serif Display', serif;
    font-weight: 700;
    text-rendering: optimizelegibility;
    line-height: 33px;
    box-sizing: border-box;
}

.style-54 {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    padding: 10px 15px;
    cursor: pointer;
    display: block;
    text-decoration: none;
    width: fit-content;
    color: rgb(51, 51, 51);
    font-weight: 600;
    transition: color 0.2s;
    box-sizing: border-box;
}

.style-55 {
    padding: 40px 20px;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    box-sizing: border-box;
}

.style-56 {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}

.style-57 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
}

.style-58 {
    box-sizing: border-box;
}

.style-59 {
    margin-top: 0px;
    box-sizing: border-box;
}

.style-60 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(100% - 10px);
    max-width: 400px;
    box-sizing: border-box;
}

.style-61 {
    margin-left: 0px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
    transition: color 0.2s;
    text-decoration-skip-ink: auto;
    box-sizing: border-box;
}

.style-62 {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
    transition: color 0.2s;
    text-decoration-skip-ink: auto;
    box-sizing: border-box;
}

.style-63 {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
    transition: color 0.2s;
    text-decoration-skip-ink: auto;
    box-sizing: border-box;
}

.style-64 {
    box-sizing: border-box;
}

.style-65 {
    border: 0px;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0px;
    position: absolute;
    top: 0px;
    width: 1px;
    white-space: nowrap;
    overflow-wrap: normal;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0px;
    position: absolute;
    top: 0px;
    width: 1px;
    white-space: nowrap;
    overflow-wrap: normal;
    box-sizing: border-box;
}

.style-66 {
    box-sizing: border-box;
}